# BEGIN iThemes Security
	# BEGIN Hide Backend
			# Rules to hide the dashboard
			#RewriteRule ^(/)?admin_vinipro_/?$ /wp-login.php [QSA,L]
		
	# END Hide Backend
# END iThemes Security
# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /vinipro
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /vinipro/index.php [L]
</IfModule>

# END WordPress
