/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass/css3";
@import "rgbapng";


/* FONTS */
/*font-family: 'Montserrat', sans-serif;*/
@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
/* font-family: 'Lato', sans-serif; */
@import url(http://fonts.googleapis.com/css?family=Lato:400,300,700);


*,*:before,*:after{
	@include box-sizing(border-box);
	*behavior: url(scripts/boxsizing.htc);
}

/* VARIABLES */
$violet: #773760;
$violetFonce: #5f2249;
$doree: #c8b299;
$bleu: #55c0d0;

$col: 71px;
$gutter: 15px;
$widthTotal: 990px;

/* GRILLE */
.row {
	width : $widthTotal;
	margin : 0 auto;
	position:relative;
	overflow:hidden;
}
.col{
	width:$col;
	float:left;
	margin-right:$gutter;
}
	.col:last-child{
		margin-right:0px;
	}

@for $i from 1 through 12 {
	.w-#{$i} {
		width: ($col * $i) + ($gutter * ($i - 1));
	}
}

/* DIVERS */
.clear { clear : both ; }
.clearleft{ clear: left; }
.italic{
	font-style: italic;
}
sup{
	vertical-align: super;
	font-size:14px;
}


/* HACK */
input:focus,
select:focus,
textarea:focus{
    outline: none !important;
}

/* INDEX */
body{
	background-image: url(../images/bgInter.jpg);
	background-repeat: no-repeat;
	background-position: top center;
	background-color: black;
}
body.homepage{
	background-image: url(../images/bg.jpg);
}
body.mediatheque{
	background-image: url(../images/bg_media.jpg);
}
body.salon{
	background-image: url(../images/bg_salon.jpg);
}
body.exposez{
	background-image: url(../images/bg_exposez.jpg);
}
body.visitez{
	background-image: url(../images/bg_visitez.jpg);
}
body.echangez{
	background-image: url(../images/bg_echangez.jpg);
}
body.bpPage{
	background-image: url(../images/bg_bp.jpg);	
}

header{
	border-top:3px solid $doree;

	.headerFirst{
		height:35px;
		margin-top:-2px;

		.navHeader{
			float:right;
			margin-right: 5px;

			ul{

				li{
					display: inline-block;
					padding:10px 0px;
					line-height: 12px;
					height: 12px;
					padding-top:15px;

					a{
						vertical-align: middle;
						display: inline-block;
						font-size: 12px;
						color:white;
						font-weight: 400;
						font-family: 'Lato', sans-serif;
						text-decoration: none;
						text-transform: uppercase;
						line-height: 12px;
						padding:0px 10px;
						height: 12px;
					}
					
					a.compte{
						padding:0px 15px 0px 40px;
						background-image: url(../images/pictoCompte.png);
						background-position: 10px 0px;
						background-color: $doree;
						background-repeat: no-repeat;
						height: 19px;
						line-height: 19px;
						color:black;
					}

					a.facebook{
						padding:0px !important;
						width: 25px;
						height: 22px;
						background-image: url(../images/fbHeader.png);
						background-position: top left;
					}
					a.facebook:hover{
						background-position: bottom left;
					}


					a:hover,
					a.active{
						color:$doree;
					}
					a.compte:hover{
						color:white;
						background-position: 10px -19px;
					}
				}

				li.compte{
					background-color: $doree;
					height: 40px;
					margin-right: 10px;
				}

				li:first-child{
					a{
						border-right: 2px solid white;
					}
				}
			}
		}

		.langues{
			display:block;
			padding-top:15px;
			margin-left:176px;

			li{
				display: inline-block;
				line-height: 12px;
				height: 12px;
				border-right: 2px solid white;
				padding:0px 10px;

				a{
					text-decoration: none;
					color: white;
					text-transform: uppercase;
					font-size: 13px;
					font-weight: 700;
					font-family: 'Lato', sans-serif;
				}
				a:hover,
				a.active{
					color:$violet;
				}
			}
			li:last-child{
				border:none;
			}

		}
	}
	
	.logo{
		width: 159px;
		height: 140px;
		left:50%;
		margin-left:-495px;
		margin-top:-10px;
		position:absolute;
		z-index: 999;
	}

	.bandeauGris{
		@include rgba-background(rgba(55,47,48,0.70));
		height: 44px;
		left:15px;
		width: 960px;
		margin-top:15px;
		padding-left: 155px;
		
		nav.primary{

			ul{

				li{
					display: inline-block;
					line-height: 44px;
					margin-right: 50px;

					a{
						text-decoration: none;
						text-transform: uppercase;
						font-size:19px;
						font-weight: 700;
						color:white;
						letter-spacing: 2px;
						font-family: 'Lato', sans-serif;

					}
					a:hover{
						color:$doree;
					}
				}

				li:last-child{
					margin-right: 0px;
				}
			}
		}

		.recherche{
			float: right;
			margin-right: 10px;
			padding-top:12px;

			input[type="text"]{
				display: inline-block;
				width: 142px;
				height: 19px;
				line-height: 19px;
				font-size:13px;
				border:none;
				padding:0px 10px;
				margin-right:10px;
			}

			.submit{
				display:inline-block;
				margin:0px;
				padding:0px;
				border:none;
				width: 18px;
				height: 18px;
				overflow: hidden;
				text-indent: -1000px;
				background-color: transparent;
				cursor: pointer;
				background-image: url(../images/search.png);
			}
			.submit:hover{
				background-position: left bottom;
			}
		}
	}

	.bandeauNoir{
		@include rgba-background(rgba(55,47,48,0.90));
		height: 35px;
		left:15px;
		width: 960px;	
		padding-left: 155px;
		line-height: 35px;
		font-size:15px;
		color:$doree;
		text-transform: uppercase;
		font-family: 'Lato', sans-serif;
		letter-spacing: 5px;

		strong{
			color:#e079af;
			font-size: 18px;
			font-weight: 700;
		}
	}
	
	.retourSalon{
		width: 120px;
		margin-left:0px;
		@include rgba-background(rgba(55,47,48,0.90));
		height: 35px;
		line-height: 35px;
		font-size:15px;
		color:$doree;
		text-transform: uppercase;
		font-family: 'Lato', sans-serif;
	}
}

.miseEnAvant{
	height: 390px;

	.gauche{
		display: inline-block;
		margin-left:113px;
		margin-top:80px;
		font-size: 20px;
		color:$violet;
		text-transform: uppercase;
		font-family: 'Lato', sans-serif;
		
		
		p{
			padding-left:20px;
			border-left: 5px solid $violet;
		}
		strong{
			font-size: 42px;
			font-weight: 700;
		}

		a{
			margin-top:20px;
			display: inline-block;
			width:100%;
			text-align: center;
			height: 40px;
			line-height: 40px;
			color:white;
			font-size: 13px;
			text-decoration: none;
			font-weight: 700;
			letter-spacing: 3px;
			background-color: $violet;
			@include transition-property(background-color);
		}
		a:hover{
			background-color: $violetFonce;
		}
	}

	.droite{
		float: right;
		margin-top:315px;
		color:white;
		text-transform: uppercase;
		text-align: right;
		font-family: 'Lato', sans-serif;
		font-size:18px;
		letter-spacing: 3px;
	}
}

.buttonSet{
	margin-top:15px;

	.button{
		display: inline-block;
		width:33.33%;
		vertical-align: top;
		height: 84px;
		
		a{
			display:block;
			width: 100%;
			height: 84px;
			text-align: center;
			font-size:20px;
			font-size: 20px;
			text-decoration: none;
			padding-top:45px;
			color:white;
			letter-spacing: 3px;
			font-family: 'Lato', sans-serif;
		}
	}

	.button.rencontrez{
		background-image: url(../images/boutons/rencontrez.png);
	}
	.button.echangez{
		background-image: url(../images/boutons/echangez.png);
	}
	.button.partagez{
		background-image: url(../images/boutons/partagez.png);
	}

	.button:hover{
		background-position: left bottom;
	}

}

.agenda{
	height: 115px;
	background-color: white;

	p{
		text-align: center;
		font-family: 'Lato', sans-serif;
	}

	p.titre{
		margin-top:35px;
		color:#282828;
		font-size: 18px;
		text-transform: uppercase;
		letter-spacing: 3px;
	}
	
	p.date{
		margin-top:5px;
		color:$violet;
		font-size: 26px;
		letter-spacing: 3px;
		font-weight: 700;		
	}
}

.rencontrezHP{
	height: 465px;
	background-image: url(../images/HP/rencontrezHP.jpg);

}

.rencontrezHP, .echangezHP, .partagezHP{
	font-family: 'Lato', sans-serif;

	.gauche{
		display:inline-block;
		width: 340px;
		color:white;
		margin-left:115px;
		margin-top:80px;
		vertical-align: top;

		h2{
			font-size:32px;
			text-transform: uppercase;
			font-weight: 700;
			margin-bottom:8px;
		}

		h3{
			font-weight: 300;
			font-size:18px;
			margin-bottom:20px;
			line-height: 21px;
			text-transform: uppercase;
		}

		p{
			letter-spacing: 1px;
			font-size:14px;
			line-height: 18px;
		}

		a.lienCarre{
			margin-top: 30px;
			display:inline-block;
			padding:0px 25px;
			text-transform: uppercase;
			color:$violet;
			background-color: white;
			text-align: center;
			text-decoration: none;
			font-size:15px;
			font-weight: 700;
			line-height: 38px;
			height: 38px;
		}
		a.lienCarre:hover{
			background-color: $violet;
			color: white;

		}

	}

	.droite{
		display:inline-block;
		width: 450px;
		margin-left: 50px;

	}
}

.rencontrezHP{

	.droite{
		margin-top:95px;
	}
}

.socialHP{
	background-color: white;
	height: 85px;
	background-image: url(../images/social/bg.jpg);
	background-repeat: no-repeat;
	padding-left: 64px;
	line-height: 85px;
	font-size:18px;
	color:$doree;
	letter-spacing: 1px;
	text-transform: uppercase;
	font-weight: 700;
	font-family: 'Lato', sans-serif;


	ul{
		display:block;
		float:right;
		margin-top:15px;

		li{
			display:inline-block;
			margin-right: 20px;

			a{
				display: block;
				width: 50px;
				height: 44px;
				overflow: hidden;
				background-position: top left;
			}
			a:hover{
				background-position: bottom left;
			}
			a.facebook{
				background-image: url(../images/social/facebook.jpg);

			}
			a.twitter{
				background-image: url(../images/social/twitter.jpg);
			}
			a.linkedin{
				background-image: url(../images/social/linkedin.jpg);
			}
			a.instagram{
				background-image: url(../images/social/instagram.jpg);
			}
		}
	}
}

.echangezHP{
	height: 455px;
	background-image: url(../images/HP/echangezHP.jpg);
	background-position: left -27px;

	.droite{
		padding-top:65px;
	}
}

.mediaHP{
	background-color: white;
	height: 85px;
	background-image: url(../images/mediatheque/bg.jpg);
	background-repeat: no-repeat;
	padding-left: 74px;
	line-height: 85px;
	font-size:18px;
	color:$doree;
	letter-spacing: 1px;
	text-transform: uppercase;
	font-weight: 700;
	font-family: 'Lato', sans-serif;

	a{
		top:20px;
		position: absolute;
		right:20px;
		display: block;
		font-size:15px;
		height: 42px;
		line-height: 39px;
		padding:0px 20px;
		line-height: auto !important;
		border:2px solid $doree;
		text-transform: uppercase;
		text-decoration: none;
		color:$doree;
		@include transition-property(background-color);
	}
	a:hover{
		background-color: $doree;
		color:white;
	}
}

.partagezHP{
	height: 500px;
	background-image: url(../images/HP/partagezHP.jpg);
	background-position: left -25px;
	
	.gauche, .droite{
		a.lienCarre{
			margin-top: 30px;
			display:inline-block;
			padding:0px 25px;
			text-transform: uppercase;
			color:$doree;
			background-color: white;
			text-align: center;
			text-decoration: none;
			font-size:15px;
			font-weight: 700;
			line-height: 38px;
			height: 38px;
		}
		a.lienCarre:hover{
			background-color: $doree;
			color: white;

		}
	}

	.droite{
		margin-left:70px;
		width: 440px;
		font-family: 'Lato', sans-serif;
		margin-top:115px;
		font-weight: 300;
		font-size:18px;
		letter-spacing: 1px;
		color:white;
		margin-bottom:15px;
		
		strong{
			font-weight: 700;
		}

		iframe{
			margin-top: 8px;
		}
	}

}

.fbTwt{
	background-color: white;
	height: 125px;
	padding:10px 0px;
	font-family: 'Lato', sans-serif;

	.col{
		height: 100%;
		width:49.7%;
		padding:0px 25px;
		margin:0px;

		h5{
			color:$doree;
			text-transform: uppercase;
			font-weight: 700;
			font-size:17px;
			letter-spacing: 2px;
			padding:10px 0px 18px;
		}
	}
	.col:first-child{
		border-right: 1px solid #e5e5e5;
	}
	
	.col.twt{
		font-size: 13px;
		color:#767676;

		.contenu{
			height: 44px;
			padding-left:60px;
			background-repeat: no-repeat;
			background-image: url(../images/social/twitter.jpg);
		}

		a{
			color:$violet;
			text-decoration: none;
		}

		a:hover{
			text-decoration: underline;
		}

		a.user{
			font-size:14px;
			font-weight: 700;
			padding-bottom:5px;
		}
		
	}

	.col.fb{
		font-size: 18px;
		color:#767676;
		padding-left:50px;

		.contenu{
			height: 44px;
			padding-left:60px;
			background-repeat: no-repeat;
			background-image: url(../images/social/facebook.jpg);

			strong{
				color:$violet;
				font-weight: 700;
				font-size: 25px;
			}
		}

	}
}

footer{
	background-color: black;
	font-family: 'Lato', sans-serif;

	.mention{
		text-align: center;
		font-size: 16px;
		color: white;
		padding: 30px 0px;
		margin-bottom: 30px;
		border-bottom: 3px solid $doree;
	}

	.footerTexte{
		padding: 30px 0px;
		padding-top: 10px;
		margin-bottom: 30px;
		border-bottom: 3px solid $doree;
		color: $doree;
		font-size:14px;
		line-height: 25px;
		min-height: 220px;

		h6{
			font-size:18px;
			font-weight: 700;
			text-transform: uppercase;
		}
		p{
			margin-top: 30px;
		}

		.tel{
			position:absolute;
			left:465px;
			top:10px;
		}
		.rcs{
			right: 0px;
			top:10px;
			position:absolute;
		}
	}

	.footerMenu{
		padding-top:8px;

		.listeReseaux{
			position:absolute;
			right: 0px;
			top:0px;
			
			a{
				display:block;
				position:relative;
				width: 38px;
				height: 33px;
				overflow: hidden;
				background-position: top left;
			}
			a:hover{
				background-position: bottom left;

			}

			.facebook{
				top:0px;
				right: 33px;
				background-image: url(../images/footer/facebook.png);
			}
			.twitter{
				top:4px;
				right: 33px;
				background-image: url(../images/footer/twt.png);
			}
			.linkedin{
				top:-49px;
				right: 0px;
				background-image: url(../images/footer/linkedin.png);
			}
			.instagram{
				right: 0px;
				top:-46px;
				background-image: url(../images/footer/instagram.png);
			}
		}
		
		.col{
			margin-right: 60px;
			width:auto !important;

			li{
				display:block;
				margin-bottom:4px;
			}

			a{
				text-decoration: none;
				font-size: 12px;
				color:#e4e4e4;
			}
			a:hover{
				color:$doree;
			}

			h7{
				display:block;
				padding-bottom:20px;
				text-transform: uppercase;

				a{
					color:$doree;
					font-size: 14px;
					font-weight: 700;
				}

				a:hover{
					text-decoration: underline;
				}
			}
		}

	}

	.legals{
		margin:30px auto;

		p{
			color:#494949;
			font-size: 11px;
		}
		.copyright{
			margin-top: 10px;
			color:white;

			a{
				color:white;
				text-decoration: none;
			}
			a:hover{
				text-decoration: underline;
			}

		}
	}
}

/* PAGE INTER */
.contenuEdito{
	margin-top:64px;
	font-family: 'Lato', sans-serif;

	aside{
		padding-top:100px;
		display: block;
		width: 336px;
		float: right;
		margin-left:28px;
		min-height: 400px;

		.menuDroite{
			margin-top:10px;
			padding:20px;
			background-color: white;

			h5{
				text-transform: uppercase;
				font-size: 22px;
				color:$doree;
				margin-bottom:5px;

				strong{
					font-weight: 700;
					font-size:28px;
				}
			}

			ul{

				li{
					margin-top:20px;
					display:block;
					width: 100%;
					a{
						display:block;
						padding-left:70px;
						color:white;
						text-transform: uppercase;
						color:$doree;
						text-decoration: none;
						font-size:16px;
						height: 44px;
						line-height: 44px;
						background-repeat: no-repeat;
						background-position: left top;
					}
					a:hover{
						/*background-position: left bottom;*/
						font-weight:700;
					}

					a.rencontrez{
						background-image: url(../images/droite/rencontrez.png);
					}
					a.echangez{
						background-image: url(../images/droite/echangez.png);
					}
					a.partagez{
						background-image: url(../images/droite/partagez.png);
					}
					
				}
			}
		}
		
		.menuUserDroite{
			padding:20px;
			background-color: $violet;
			margin-bottom: 10px;

			ul{

				li{
					margin-top:20px;
					display:block;
					width: 100%;
					a{
						display:block;
						padding-left:70px;
						color:white;
						text-transform: uppercase;
						color:white;
						text-decoration: none;
						font-size:16px;
						height: 44px;
						line-height: 44px;
						background-repeat: no-repeat;
						background-position: left top;
					}

					a:hover{
						font-weight: 700;
					}

					a.badge{
						background-image: url(../images/droite/badge.png);
					}
					a.compte{
						background-image: url(../images/droite/compte.png);
					}
				}
			}
		}

		.publicite{
			margin-bottom:20px;

			.addLink{
				text-align: right;
				margin-top:10px;

				a{
					color:white;
					font-family: arial;
					font-size:14px;
				}
			}
		}

		.socialDroite{
			padding:20px;
			background-color: $doree;
			margin-bottom:10px;
			color:white;
			text-align: center;
			
			h5{
				font-weight: 700;
				font-size: 23px;
				text-transform: uppercase;
				margin-bottom: 15px;
			}
			h6{
				font-size: 18px;
				font-weight: 700;
				margin-bottom:35px;
			}

			ul{

				li{
					display:inline-block;
					margin-right: 18px;

					a{
						display:block;
						width: 57px;
						height: 51px;
						background-repeat: no-repeat;
						background-position: left top;

					}
					a:hover{
						background-position: left bottom;
					}

					a.facebook{
						background-image: url(../images/droite/social/fb.png);
					}
					a.twitter{
						background-image: url(../images/droite/social/twt.png);
					}
					a.linkedin{
						background-image: url(../images/droite/social/linkedin.png);
					}
					a.instagram{
						background-image: url(../images/droite/social/instagram.png);
					}
				}
				li:last-child{
					margin-right: 0px;
				}
			}
		}

		.membres{
			padding:25px;
			background-color: #2c2c2b;

			h5{
				text-align: center;
				font-size:22px;
				text-transform: uppercase;
				margin-bottom:20px;
				color:$bleu;
			}

			.listeMembres{
				
				.elementMembre{
					margin-bottom:10px;

					.visuel{
						display: inline-block;
						vertical-align: top;
						margin-right: 15px;
					}

					.infos{
						display: inline-block;
						vertical-align: top;
						
						a{
							display:block;
							color:white;
							text-decoration: none;
							font-size:15px;
							font-weight: 700;
							text-transform: uppercase;
							margin-top: 5px;
						}
						.type{
							margin-top:5px;
							display: block;
							font-size: 12px;
							font-weight: 300;

						}
					}
				}

			}
			.lien{
				text-align: center;
				padding-top:10px;

				a.boutonBleu{
					display: inline-block;
					background-color: $bleu;
					color:white;
					text-transform: uppercase;
					text-align: center;
					text-decoration: none;
					font-size:18px;
					padding:10px 20px;
				}
				a.boutonBleu:hover{
					background-color: white;
					color:$bleu;
				}
			}
		}

	}

	article{
		position:relative;
		width:616px;
		
		.partage{
			position:absolute;
			right:0px;
			margin-top:-29px;

			a.openPartage{
				display:block;
				width:38px;
				height: 30px;
				background-image: url(../images/partage.png);
			}
			a.openPartage:hover{
				background-position: left bottom;
			}
		}
		.titre{
			padding-left:10px;
			margin-bottom:30px;
			font-size:26px;
			color:$violet;
			text-transform: uppercase;
			font-weight: 700;
			border-left:4px solid $violet;

			strong{
				font-size:52px;
			}
		}

		.breadcrumb{
			font-size:12px;
			color:#494949;
			letter-spacing: 1px;
			margin-bottom:10px;

			a{
				color: #494949;
				text-decoration: none;
			}
			a:hover{
				text-decoration: underline;
				color:$violet;

			}
			a.current{
				color:$violet;

			}
		}

		.contenuTexte{
			background-color: white;
			padding:25px 20px;
			font-size: 14px;
			color:#747474;
			width:100%;
			
			p{
				margin-bottom:20px;
				line-height: 16px;
			}

			strong{
				font-weight: 700;
				color:#3c3c3c;
			}
			i,em{
				font-style: italic;
			}

			ul{
				margin-left:25px;

				li{
					margin-bottom:5px;
				}
				li:before{
					content:'• ';
					color:$bleu;
					padding-right:5px;
				}
			}
			a{
				color:$bleu;
				text-decoration: underline
			}
			a:hover{
				color:$violet;
			}

			a.boutonContenu{
				color:$violet;
				display: inline-block;
				padding:10px 20px;
				font-size: 15px;
				font-weight: 700;
				text-decoration: none;
				text-transform: uppercase;
				border: 2px solid $violet;
			}
			a.boutonContenu:hover{
				background-color: $violet;
				color:white;
			}

			h1{
				font-size:22px;
				text-transform: uppercase;
				margin-bottom:20px;
				line-height: 25px;
				color:$bleu;
			}
			h2{
				color:$bleu;
				font-size:18px;
				margin-bottom:20px;
				text-transform: uppercase;
			}
			h3{
				font-weight: 700;
				font-size: 16px;
				color:#3c3c3c;
				margin-bottom:15px;
			}
			

		}

	}

}

/* MEDIATHEQUE */
h1.titreTransparent{
	text-align: center;
	color:$violet;
	font-size: 40px;
	text-transform: uppercase;
	font-family: "Lato",sans-serif;
	font-weight: 700;
	margin-bottom:40px;

}

article.fullwidth{
	background-color: white;
	padding:20px;
	width:100%;

	.headerTools{
		font-family: "Lato",sans-serif;
		padding-bottom:15px;
		margin-bottom: 20px;
		border-bottom:1px solid #c4c4c4;
		font-size:20px;
		color:$violet;

		.filtre{
			float:right;
			
			ul{
				display:inline;

				li{
					display:inline-block;
					margin-left:15px;

					a{
						display:inline-block;
						height: 26px;
						line-height: 26px;
						color:white;
						font-size:14px;
						background-color: #57c5d6;
						border:1px solid #d5d5d5;
						text-decoration: none;
						padding:0px 15px;
						@include transition-property(background-color);
					}
					a:hover,
					a.active{
						background-color: $violet;
						border:1px solid $violet;
						
					}
				}
			}

		}

		.tri{
			ul{
				display:inline;

				li{
					display:inline-block;
					margin-left:15px;

					a{
						display:inline-block;
						height: 26px;
						line-height: 26px;
						color:#8a8a8a;
						font-size:14px;
						background-color: white;
						border:1px solid #d5d5d5;
						text-decoration: none;
						padding:0px 15px;
						@include transition-property(background-color);
					}
					a:hover,
					a.active{
						color:white;
						background-color: $violet;
						border:1px solid $violet;
						
					}
				}
			}
		}

	}

	#containerMediatheque{
		position:relative;
		width:100%;

		.item{
			margin-bottom:18px;
			position:relative;

			.captionMedia{
				font-family: "Lato",sans-serif;
				position: absolute;
				bottom: 0px;
				width: 100%;
				padding:15px;
				padding-bottom:0px;
				color:white;

				.titreMedia{
					font-size:20px;
					margin-bottom:15px;
				}
				.contenuMedia{
					display:none;
					font-size: 14px;
					font-weight: 300;
					padding-bottom:15px;
				}
			}
		}

		.item.image .captionMedia{
			@include rgba-background(rgba(105,48,90,0.90));

			.titreMedia{
				font-size:17px;
			}
		}
		.item.video .captionMedia{
			@include rgba-background(rgba(87,197,214,0.90));
		}
	}
}

/* PAGE SALON */
.contenuRubrique{
	font-family: "Lato",sans-serif;

	.decouvrez{
		padding-top:200px;
		min-height: 600px;

		h2{
			text-align:center;
			font-size:30px;
			font-weight: bold;
			text-transform: uppercase;
			color:$violet;
			margin-bottom:25px;

			.titre{
				font-size:60px;
			}
			

		}
		h3{
			font-size:22px;
			text-transform: uppercase;
			color:$violet;
			text-align: center;
			font-weight: 300;

		}
		.sepViolet{
			height: 21px;
			width:100%;
			background-image: url(../images/sepViolet.png);
			background-repeat: no-repeat;
			background-position: top center;
			margin:25px 0px;
		}
		.contenuTexte{
			margin:0px 190px 0px 190px;
			font-size: 14px;
			color:#595959;
			line-height: 18px;
			margin-bottom:35px;
		}
		.lien{
			text-align: center;

			a{
				display: inline-block;
				text-align: center;
				height: 40px;
				line-height: 40px;
				color:white;
				font-size: 13px;
				text-decoration: none;
				font-weight: 700;
				letter-spacing: 3px;
				background-color: $violet;
				padding:0px 25px;
				@include transition-property(background-color);
			}
			a:hover{
				background-color: $violetFonce;
			}
		}
	}

	.chiffres{
		margin-top:55px;
		min-height: 600px;

		h2{
			text-align: center;
			font-size: 60px;
			color: #191837;
			text-transform: uppercase;
			margin-bottom:25px;
			font-weight: bold;
		}
		h3{
			font-size:22px;
			text-transform: uppercase;
			color:#191837;
			text-align: center;
			font-weight: 300;
		}
		p{
			margin-top:25px;
			margin-bottom: 50px;
			text-align:center;

		}
		.lien{
			text-align: center;

			a{
				display: inline-block;
				text-align: center;
				height: 40px;
				line-height: 40px;
				color:$doree;
				font-size: 13px;
				text-decoration: none;
				font-weight: 700;
				letter-spacing: 3px;
				background-color: #191837;
				padding:0px 25px;
				@include transition-property(background-color);
			}
			a:hover{
				background-color: #0b0a18;
			}
		}

	}

	.adn{
		min-height: 600px;

		h2{
			text-align: center;
			font-size: 60px;
			color: white;
			text-transform: uppercase;
			margin-bottom:25px;
			font-weight: bold;

		}
		h3{
			font-size:22px;
			text-transform: uppercase;
			color:white;
			line-height: 30px;
			text-align: center;
			font-weight: 300;
		}
		.sepGris{
			height: 21px;
			width:100%;
			background-image: url(../images/sepGris.png);
			background-repeat: no-repeat;
			background-position: top center;
			margin:25px 0px;
		}
		.contenuTexte{
			margin:0px 190px 0px 190px;
			font-size: 14px;
			color:white;
			line-height: 18px;
			margin-bottom:35px;
		}
		.lien{
			text-align: center;

			a{
				display: inline-block;
				text-align: center;
				height: 40px;
				line-height: 40px;
				color:black;
				font-size: 13px;
				text-decoration: none;
				font-weight: 700;
				letter-spacing: 3px;
				background-color: white;
				padding:0px 25px;
				@include transition-property(background-color);
			}
			a:hover{
				background-color: #CCCCCC;
			}
		}

	}

	.mediaReseau{

		padding-bottom: 75px;
		border-bottom: 3px solid #c8b299;

		h2{
			text-align: center;
			font-size: 60px;
			color: $doree;
			text-transform: uppercase;
			margin-bottom:20px;
			font-weight: bold;
		}
		
		h3{
			font-size:22px;
			color:white;
			font-weight: 300;
			text-transform: uppercase;
			text-align: center;
			margin-bottom:80px;
		}

		.image{
			display:inline-block;
			width:437px;
			margin-right: 25px;
			
			.lien{
				margin-top:25px;
				text-align: center;

				a{
					display: inline-block;
					text-align: center;
					height: 40px;
					line-height: 40px;
					border:2px solid white;
					color:white;
					font-size: 13px;
					text-decoration: none;
					font-weight: 700;
					letter-spacing: 3px;
					background-color: black;
					padding:0px 25px;
					@include transition-property(background-color);
				}
				a:hover{
					color:black;
					background-color: #CCCCCC;
				}
			}

		}

		.reseaux{
			vertical-align: top;
			width: 456px;
			display: inline-block;
			color:#767676;

			a{
				color:$doree;
				text-decoration: none;
			}

			ul{

				li{
					margin-bottom:35px;
					min-height: 54px;
					padding-left:75px;
					font-size: 16px;
					line-height: 20px;
					background-repeat: no-repeat;
					background-position: left top;
				}
				li.facebook{
					background-image: url(../images/social/fb_rubrique.png);
					font-size:22px;
					line-height: 25px;

					strong{
						color:$doree;
						font-size: 30px;
						font-weight: 700;
					}
				}
				li.twitter{
					background-image: url(../images/social/twt_rubrique.png);

					.nickname{
						color:$doree;
						font-weight: 700;
						font-size:16px;
					}
					a{
						color:$doree;
					}
					a:hover{
						text-decoration: underline;
					}
				}
			}
		}

		.reseaux.rtlVini{
			width:100%;

			ul{

				li{
					display:inline-block;
					width:49.8%;
				}
			}
		}
	}

}

/* PAGE EXPOSEZ */
.contenuRubrique{
	font-family: "Lato",sans-serif;

	.exposez{
		padding-top:195px;
		min-height: 590px;

		h2{
			text-align:center;
			font-size:30px;
			font-weight: bold;
			text-transform: uppercase;
			color:white;
			margin-bottom:25px;

			.titre{
				font-size:60px;
			}
			

		}
		h3{
			font-size:22px;
			text-transform: uppercase;
			color:white;
			text-align: center;
			font-weight: 300;

		}
		.sepBlanc{
			height: 21px;
			width:100%;
			background-image: url(../images/sepBlanc.png);
			background-repeat: no-repeat;
			background-position: top center;
			margin:20px 0px;
		}
		.contenuTexte{
			margin:0px 190px 0px 190px;
			font-size: 14px;
			color:white;
			line-height: 18px;
			margin-bottom:30px;
		}
		.lien{
			text-align: center;

			a{
				display: inline-block;
				text-align: center;
				height: 40px;
				line-height: 40px;
				color:white;
				font-size: 13px;
				text-decoration: none;
				font-weight: 700;
				letter-spacing: 3px;
				background-color: $doree;
				padding:0px 25px;
				@include transition-property(background-color);
			}
			a:hover{
				background-color: $doree;
			}
		}
	}
	
	.sepBleu{
		height: 21px;
		width:100%;
		background-repeat: no-repeat;
		background-position: top center;
		margin:35px 0px;
		background-image: url(../images/sepBleu.png);
	}

	.services{
		
		h2{
			color:#028193;
			text-align: center;
			font-size: 60px;
			text-transform: uppercase;
			margin-bottom:20px;
			font-weight: bold;
		}

		h3{
			font-size:22px;
			text-transform: uppercase;
			color:#028193;
			text-align: center;
			font-weight: 300;
			margin-bottom:40px;
		}

		.contenutexte{
			margin-left:64px;
			width:390px;
			display: inline-block;
			font-size:14px;
			color:#282828;
			line-height: 17px;
		}

		.listePoints{
			display: inline-block;
			vertical-align: top;
			width:454px;
			min-height: 235px;
			background-image: url(../images/fondListe.png);
			background-position: left top;
			background-repeat: no-repeat;
			margin-left:30px;
			color:white;
			padding:20px 30px;

			ul{

				li{
					margin-bottom:20px;
					font-size: 16px;
				}
				li:before{
					display: inline-block;
					content:'';
					width: 12px;
					height: 10px;
					margin-right:12px;
					background-image: url(../images/puce.png);
					background-repeat: no-repeat;
					background-position: left center;
				}


			}
			p{
				font-size:18px;
				text-transform: uppercase;
			}
		}

		.lien{
			margin-top:55px;
			margin-bottom:45px;
			text-align: center;

			a{
				display: inline-block;
				text-align: center;
				height: 40px;
				line-height: 40px;
				color:white;
				font-size: 13px;
				text-decoration: none;
				font-weight: 700;
				letter-spacing: 3px;
				background-color: #028193;
				padding:0px 25px;
				@include transition-property(background-color);
			}
			a:hover{
				background-color: #028193;
			}
		}

	}

	.reservez{

		padding-bottom: 75px;
		border-bottom: 3px solid #c8b299;

		h2{
			text-align: center;
			font-size: 60px;
			color: white;
			text-transform: uppercase;
			margin-bottom:25px;
			font-weight: bold;

		}
		h3{
			font-size:22px;
			text-transform: uppercase;
			color:white;
			line-height: 30px;
			text-align: center;
			font-weight: 300;
			margin-bottom:50px;
		}
		.sepGris{
			height: 21px;
			width:100%;
			background-image: url(../images/sepGris.png);
			background-repeat: no-repeat;
			background-position: top center;
			margin:25px 0px;
		}
		.contenuTexte{
			margin:0px 30px 0px 20px;
			display: inline-block;
			font-size: 14px;
			line-height: 18px;
			color:white;
			width: 390px;

			img{
				margin-bottom:20px;
			}
		}
		
		.visuelSalon{
			display: inline-block;
			vertical-align: top;
			width: 500px;

			img{
				width:100%;
			}
		}

		.lien{
			text-align: center;
			margin-top:55px;

			a{
				display: inline-block;
				text-align: center;
				height: 40px;
				line-height: 40px;
				color:black;
				font-size: 13px;
				text-decoration: none;
				font-weight: 700;
				letter-spacing: 3px;
				background-color: white;
				padding:0px 25px;
				@include transition-property(background-color);
			}
			a:hover{
				background-color: #CCCCCC;
			}
		}

	}

}

/* PAGE EXPOSEZ */
.contenuRubrique{
	font-family: "Lato",sans-serif;

	.visitez{
		padding-top:195px;
		min-height: 590px;

		h2{
			text-align:center;
			font-size:30px;
			font-weight: bold;
			text-transform: uppercase;
			color:white;
			margin-bottom:25px;

			.titre{
				font-size:60px;
			}
			

		}
		h3{
			font-size:22px;
			text-transform: uppercase;
			color:white;
			text-align: center;
			font-weight: 300;

		}
		.sepBlanc{
			height: 21px;
			width:100%;
			background-image: url(../images/sepBlanc.png);
			background-repeat: no-repeat;
			background-position: top center;
			margin:20px 0px;
		}
		.contenuTexte{
			margin:0px 190px 0px 190px;
			font-size: 14px;
			color:white;
			line-height: 18px;
			margin-bottom:30px;
		}
		.lien{
			text-align: center;

			a{
				display: inline-block;
				text-align: center;
				height: 40px;
				line-height: 40px;
				color:white;
				font-size: 13px;
				text-decoration: none;
				font-weight: 700;
				letter-spacing: 3px;
				background-color: $doree;
				padding:0px 25px;
				@include transition-property(background-color);
			}
			a:hover{
				background-color: $doree;
			}
		}
	}

	.sepViolet{
		height: 21px;
		width:100%;
		background-image: url(../images/sepViolet2.png);
		background-repeat: no-repeat;
		background-position: top center;
		margin:25px 0px;
	}

	.reseau{
		margin-bottom:70px;

		h2{
			text-align:center;
			font-size:60px;
			font-weight: bold;
			text-transform: uppercase;
			color:#8c1a5d;
			margin-bottom:10px;

			.titre{
				font-size:60px;
			}
			

		}
		h3{
			font-size:22px;
			text-transform: uppercase;
			color:#8c1a5d;
			text-align: center;
			font-weight: 300;
			margin-bottom:55px;

		}
		h3.bleu{
			color:#191837;
		}

		.contenuTexte{
			margin-left:64px;
			width:390px;
			display: inline-block;
			font-size:14px;
			color:#282828;
			line-height: 17px;
		}

		.visuel{
			display: inline-block;
			vertical-align: top;
			width:454px;
			
			margin-left:30px;
			color:white;
		}

		.lien{
			text-align: center;
			margin-top:35px;

			a{
				display: inline-block;
				text-align: center;
				height: 40px;
				line-height: 40px;
				color:white;
				font-size: 13px;
				text-decoration: none;
				font-weight: 700;
				letter-spacing: 3px;
				background-color: #8c1a5d;
				padding:0px 25px;
				@include transition-property(background-color);
			}
			a:hover{
				background-color: $violetFonce;
			}
		}
	}

	.exposants{

		margin-top:120px;

		h2{
			text-align: center;
			font-size: 60px;
			color: white;
			text-transform: uppercase;
			margin-bottom:15px;
			font-weight: bold;

		}
		h3{
			font-size:22px;
			text-transform: uppercase;
			color:white;
			line-height: 26px;
			text-align: center;
			font-weight: 300;
			margin-bottom:40px;
		}

		.contenuTexte{
			margin-left:64px;
			width:390px;
			display: inline-block;
			font-size:14px;
			color:white;
			line-height: 17px;
			padding:15px 0px;
			border-top:2px solid white;
			border-bottom:2px solid white;
		}

		.visuel{
			display: inline-block;
			vertical-align: top;
			width:454px;
			
			margin-left:30px;
			color:white;
		}

		.lien{
			text-align: center;
			margin-top:35px;

			a{
				display: inline-block;
				text-align: center;
				height: 40px;
				line-height: 40px;
				color:black;
				font-size: 13px;
				text-decoration: none;
				font-weight: 700;
				letter-spacing: 3px;
				background-color: white;
				padding:0px 25px;
				@include transition-property(background-color);
			}
			a:hover{
				background-color: #CCCCCC;
			}
		}
	}

	.visite{
		padding-bottom: 75px;
		border-bottom: 3px solid #c8b299;
		margin-top:120px;

		
		h2{
			text-align: center;
			font-size: 60px;
			color: $doree;
			text-transform: uppercase;
			margin-bottom:40px;
			font-weight: bold;
		}

		h3{
			font-size:22px;
			text-transform: uppercase;
			color:$doree;
			line-height: 26px;
			text-align: center;
			font-weight: 300;
			margin-bottom:40px;
		}

		.contenuTexte{
			margin-left:64px;
			width:390px;
			display: inline-block;
			font-size:14px;
			color:white;
			line-height: 17px;
			padding:15px 0px;
			border-top:2px solid white;
			border-bottom:2px solid white;

			strong{
				font-weight: 700;
			}
		}

		.visuel{
			display: inline-block;
			vertical-align: top;
			width:454px;
			
			margin-left:30px;
			color:white;
		}

		.lien{
			text-align: center;
			margin-top:35px;

			a{
				display: inline-block;
				text-align: center;
				height: 40px;
				line-height: 40px;
				color:black;
				font-size: 13px;
				text-decoration: none;
				font-weight: 700;
				letter-spacing: 3px;
				background-color: white;
				padding:0px 25px;
				@include transition-property(background-color);
			}
			a:hover{
				background-color: #CCCCCC;
			}
		}
	}

}


/* PAGE ECHANGEZ */
.contenuRubrique{
	font-family: "Lato",sans-serif;

	.echangez{
		padding-top:195px;
		min-height: 590px;

		h2{
			text-align:center;
			font-size:30px;
			font-weight: bold;
			text-transform: uppercase;
			color:white;
			margin-bottom:25px;

			.titre{
				font-size:60px;
			}
			

		}
		h3{
			font-size:22px;
			text-transform: uppercase;
			color:white;
			text-align: center;
			font-weight: 300;

		}
		.sepBlanc{
			height: 21px;
			width:100%;
			background-image: url(../images/sepBlanc.png);
			background-repeat: no-repeat;
			background-position: top center;
			margin:20px 0px;
		}
		.contenuTexte{
			margin:0px 190px 0px 190px;
			font-size: 14px;
			color:white;
			line-height: 18px;
			margin-bottom:30px;
		}
		.lien{
			text-align: center;

			a{
				display: inline-block;
				text-align: center;
				height: 40px;
				line-height: 40px;
				color:white;
				font-size: 13px;
				text-decoration: none;
				font-weight: 700;
				letter-spacing: 3px;
				background-color: $doree;
				padding:0px 25px;
				@include transition-property(background-color);
			}
			a:hover{
				background-color: $doree;
			}
		}
	}
}

/* DIVERS */

a{
	@include transition-property(color);
	@include transition-duration(0.3s);
}
.hidden{
	display:none !important;
}